/*
 * -------------------------------------------------
 *  Nextflow confguration, accompanying fastp.nf
 * -------------------------------------------------
 * Default config options for all environments.
 * @Repository
 * https://github.com/savytskanatalia/quanTEfication
 * @Author
 * Savytska Natalia, 2020. Genome Biology of Neurodegenerative Diseases, DZNE TU
 */

// Global default params, used in configs


manifest {
    homePage = 'https://github.com/savytskanatalia'
    description = 'fastp'
    mainScript = 'fastp.nf'
    version = '2.0.0'
}



process {
    cpus = 6
    memory = 20.GB

}


params {

  reads = "/home/natalia/FOUNDIN/FOUNDIN_rnaseq_tmp/RNAB/fastqs/da65/*_R{1,2}*.fastq.gz"
  outdir = 'output'
  fastpf = ""
  thr = 1
}



profiles {
  docker { docker.enabled = true
           includeConfig 'conf/docker.config' }
}


executor {
  queueSize = 2
  cpus = 28
  memory = 64.GB
}




// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/trim_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/trim_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/trim_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/trim_dag.html"
}

